# SFD2UFO conversion
sfdLib==2.0.0.post0

# google font template requirements - manually updated since `make update-project-template` clobbers any customization
fontmake>=3.9.0
gftools[qa]>=0.9.54
drawbot-skia>=0.5.0
sh>=2.0.6
bumpfontversion>=0.4.1
diffenator2>=0.3.8
gflanguages>=0.7.0
